<div class="">
	<h2>Add Fortune</h2>
	<div class="row">
    <div class="col-lg-12">
      <form validate-form="" novalidate="" name="addFrm" ng-submit="add(fortune)">
        <div class="form-group">
          <label for="txt">Fortune Text</label>
          <input type="text" class="form-control" id="txt" placeholder="" required ng-model="fortune.text">
        </div>
        <button type="submit" class="btn btn-success"><i class="fa fa-plus"></i>&nbsp; Add</button>
      </form>
    </div>
	</div>
</div>