<div class="mt-xl col-lg-4">
   <!-- START panel-->
   <div class="panel panel-dark panel-flat">
      <div class="panel-heading text-center">
         <a href="#">
            <img style="height:100px" class="block-center img-circle img-responsive" src="img/spaceghost_0.jpg" />
         </a>
      </div>
      <div class="panel-body">
         <p class="text-center pv">SIGN IN TO CONTINUE.</p>
         <form class="mb-lg" role="form" ng-submit="login(formData)" validate-form="" novalidate="">
            <div class="form-group has-feedback">
               <input class="form-control" id="exampleInputEmail1" type="email" name="account_email" placeholder="Enter email" autocomplete="off" ng-model="formData.email" required="" />
               <span class="fa fa-envelope form-control-feedback text-muted"></span>
            </div>
            <div class="form-group has-feedback">
               <input class="form-control" id="exampleInputPassword1" type="password" name="account_password" placeholder="Password" ng-model="formData.password" required="" />
               <span class="fa fa-lock form-control-feedback text-muted"></span>
            </div>
            <div class="clearfix">
               <div class="checkbox c-checkbox pull-left mt0">
                  <label>
                     <input type="checkbox" value="" name="account_remember" ng-model="login.account.remember" />
                     <span class="fa fa-check"></span>Remember Me</label>
               </div>
               <div class="pull-right"><a class="text-muted" ui-sref="page.recover">Forgot your password?</a>
               </div>
            </div>
            <button id="btnLogin" class="btn btn-block btn-primary mt-lg" type="submit">Login</button>
         </form>
         <div uib-alert ng-repeat="alert in alerts" ng-class="['alert','alert-' + (alert.type || 'warning')]" close="alerts.splice($index, 1)">{{alert.msg}}</div>
         <p class="pt-lg text-center">Need to Signup?</p><a class="btn btn-block btn-default" ui-sref="pages.register">Register Now</a>
      </div>
   </div>
   <!-- END panel-->
   <div class="p-lg text-center">
      <span>&copy;</span>
      <span ng-bind="app.year"></span>
      <span>-</span>
      <span ng-bind="app.name"></span>
      <br/>
      <span ng-bind="app.description"></span>
   </div>
</div>